# Ignorar configuración local de VSCode
.vscode/

# Ignorar carpeta de compilación/debug
/debug/*
!/debug/
!/debug/test.asm

# Ignorar archivos temporales o de compilación comunes
*.o
*.out
*.exe
*.log
*.tmp
